.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.square {
  background-color: navy;
  font-size: 2em;
  color: yellow;
  width: 50px;
  height: 50px;
  border: 2px solid silver;
  text-align: center;
}




@media (min-width: 1001px ) {
  .container {
    flex-direction: row;
  }

}


@media (max-width: 1000px) and (min-width: 801px ) {
  .container {
    height: 100px;
    width: 500px;
  }

}

@media (max-width: 800px) and (min-width: 601px ) {
  .container {
    height: 500px;
    width: 100px;
    
  }

}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    
  }

}



